{
  "extends": ["eslint:recommended", "google"],
  "rules": {
  	"require-jsdoc": "off",
  	"comma-dangle": "off",
  	"no-console": "off",
  	"max-len": "off",
  	"no-trailing-spaces": "off",
  },
  "env": {
    "node": true,
    "browser": true
  }
}