<div class="tfac-nav">
    <div class="tfac-title pull-left">
        tfac
    </div>
    <div class="tfac-buttons pull-right">
        <button type="button" class="btn btn-default tfac-nav-menu pull-right">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
        </button>
    </div>
</div>
<div class="container-fluid tfac-mission">
    <h2>What is tfac?</h2>
    <br>
    <p><b>Twitch For A Cause</b> is an effort to revolutionize the way we make charitable contributions. No matter the amount, all donations to charitable organizations are extremely important. Most of the time, it's not in the forefront of our minds exactly how important it is to give back. tfac focuses on "micro donations", enabling streamers - some of the biggest up and coming entertainers in this new age - with the opportunity to pledge and give on a regular basis. <br><br>Looking for a way to have an impact? Join us here and let's revolutionize the way we give back to the world around us.</p>
</div>