@import '../global/app';

.create-event-button{
	background-color: $twitch-purple; 
    border: solid;
    border-color: #ffffff;
    color: #ffffff;
    padding: .5em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2em;
    margin: 3em auto;
}

.create-event-button:hover{
	background-color: #f0f0f0;
}

.create-event-button:focus{
	outline: none;
}

.modal h2{
	font-size: $h-text-size;
	color: $twitch-purple;
}

.tfac-bottom-wrapper{
	background-color: $twitch-purple;
	height: 25em;
	text-align: center;
	width: 100%;
	padding: 2em;
	h2{
		color: #ffffff;
		font-size: $h-text-size;
	}
}