$font-default: 'Lato', sans-serif;
$twitch-purple: #6441a4;
$twitch-grey: #b8b5c0;
$twitch-black: #17141f;
$h-text-weight: 550;
$h-text-size: 4em;
$p-text-weight: 250;
$p-text-size: 1.2em;

body {
	font-family: $font-default;
}

